### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
target/
/META-INF/
/src/META-INF/
/src/main/java/META-INF/
/src/main/java/Step_1_2_Combined.java

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### input files ###
/input/googlebooks-heb-all-3gram-20090715-167.csv
/input/googlebooks-heb-all-1gram-20090715-0.csv

### output files ###
/output/
/step_results/
